.card {
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  cursor: pointer;
  max-width: 275px;
  background-color: white;
  max-height: -webkit-fill-available;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card:hover .name {
  color: #005bff;
}

.cardImg {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 300px;
}

.photo {
  width: 100%;
}

.description {
  align-items: flex-start;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 4px;
}

.priceBlock,
.brand,
.rate,
.noRate,
.name {
  padding-inline: 0.5rem;
}

.priceBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #10c44c;
}

.oldPrice,
.percent {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.oldPrice {
  color: #99a3ae;
  text-decoration: line-through;
}

.currency {
  margin-left: 4px;
}

.percent {
  color: #f91155;
}

.brand,
.rate {
  color: rgb(7, 7, 7);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.name {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.rate {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
}

.noRate {
  color: rgba(0, 26, 52, 0.6);
  font-size: 14px;
}

.favoriteBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.buttonBlock {
  margin-top: auto;
  width: 100%;
}

.cartButton {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #005bff;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.active {
  opacity: 0.5;
  padding-block: 14.5px;
}

.active:hover {
  background-color: #f91155;
}

.cartButton:hover {
  opacity: 0.9;
}
