.flex {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
}

.cardInfo {
  padding: 1rem;
  background-color: white;
  border-radius: 32px;
  margin-block-end: 1rem;
  max-width: 600px;
}
